<h1>Entries controller, new action</h1>

<p>Edit this file in <tt>app/views/entries/new.html.erb</tt></p>

<%= error_messages_for :entry %>

<% form_for(@entry, :action => url(:entries) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:entries) %>
